.modal-background{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content{
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    padding: 50px;
    width: 50vw;
    background: #fff;
    min-width: 300px;
    max-width: 600px;
}

.modal-input{
    border: 1px solid #000;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 18px;
}

.modal-input[placeholder]{
    padding-left: 10px;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
}

.modal-btn{
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    margin: 0 10px;
}

.modal-input .invalid{
    border: 1px solid tomato;
}