header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.5);
}
.logo img{
    max-width: 100px;
}

button.new-hotdog{
    font-size: 20px;
    padding: 10px 5px;
    transition: .5s;
    border: 2px solid rgba(0,0,0,0.5);
}
button.new-hotdog:hover{
    color:#fff;
    background: rgba(0,0,0,0.5);
    transition: .5s;
    border: 1px solid transparent;
}
